body {
  background-color: #262626;
}

/* navbar css */
.navbar-nav-flex {
  width: 100%;
}

.navbar-logo img {
  width: 58px;
  height: 58px;
  background-size: cover;
}

.navbar-logo a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.navbar-nav-item-ul--li {
  list-style-type: none;
}
.navbar-nav-item-ul--li a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #efefef;
  text-decoration: none;
  padding-left: 32px;
}
/* /////navbar\\\\\ */

/* header */
/* header-blocks */
.header-block {
  height: 600px;
  background: #1f1f1f;
  box-shadow: 6px 6px 10px 4px rgba(135, 135, 135, 0.25);
  border-radius: 50px;
  display: flex;
  border: 0;
}

.header-block--blocks {
  width: 380px;
  height: 220px;
  background: #353535;
  box-shadow: 0px 4px 8px #262626;
  border-radius: 20px;
  border: 0;
}

.blocks-first {
  margin: 60px 0 0 80px;
}

.header-block--blocks img {
  width: 60px;
  height: 60px;
  margin: 20px 10px 20px 32px;
}
.blocks-first div {
  margin: 20px 0;
}
.blocks-first div span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 28px;
  color: #ffca0f;
}
.blocks-first-develop {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.blocks-first-bio {
  width: 312px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: -70px;
}

.blocks-second {
  margin: 40px 0 60px 80px;
}
.blocks-second p {
  width: 312px;
  padding: 20px 0 0 32px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.blocks-second img {
  width: 15px;
  height: 40px;
  background-size: cover;
  margin: -68px 0 0 56px;
}
/* /////header-blocks\\\\\ */

/* header-bio-tune */
.header-bio {
  margin: 95px 0 0 170px;
}

.bio-tuning-all {
  margin-top: 15px;
  width: 300px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}
.tuning-all-git {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 8px 0px 20px;
}
.tuning-all-number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffe600;
}
.bio-tuning-1 {
  margin-bottom: 30px;
}
/* tuning-1-2-3-4-5-6 */
.bio-tuning-first {
  background-color: #b3ff00;
  height: 4px;
  animation: first 3s linear;
  width: 273px;
}

.bio-tuning-second {
  background-color: #2bff00;
  height: 4px;
  animation: second 3s linear;
  width: 303px;
}
.bio-tuning-third {
  background-color: #aa0000;
  height: 4px;
  animation: third 3s linear;
  width: 30px;
}
.bio-tuning-four {
  background-color: #ffca0f;
  height: 4px;
  animation: four 3s linear;
  width: 230px;
}
.bio-tuning-five {
  background-color: #a6ff00;
  height: 4px;
  animation: five 3s linear;
  width: 294px;
}
.bio-tuning-six {
  background-color: #ffca0f;
  height: 4px;
  animation: six 3s linear;
  width: 245px;
}

@keyframes first {
  0% {
    width: 0px;
    background-color: #ffca0f;
  }
  100% {
    width: 273px;
    background-color: #b3ff00;
  }
}

@keyframes second {
  0% {
    background-color: #ffca0f;
    width: 0px;
  }
  100% {
    width: 303px;
    background-color: #2bff00;
  }
}

@keyframes third {
  0% {
    width: 0px;
    background-color: #ffca0f;
  }
  100% {
    width: 30px;
    background-color: #aa0000;
  }
}

@keyframes four {
  0% {
    width: 0px;
    background-color: #ffca0f;
  }
  100% {
    width: 230px;
    background-color: #b3ff00;
  }
}

@keyframes five {
  0% {
    width: 0px;
    background-color: #ffca0f;
  }
  100% {
    width: 294px;
    background-color: #1eff00;
  }
}

@keyframes six {
  0% {
    width: 0px;
    background-color: #ffca0f;
  }
  100% {
    width: 245px;
    background-color: #7bff00;
  }
}
/* /////header\\\\\ */

/* .mid-1 */
.mid-1 {
  padding-top: 50px;
}

.mid-1-span {
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  text-align: center;
  width: 700px;
}
.carousel img {
  width: 600px;
  height: 300px;
  background-size: cover;
}
.mid-1-margin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mid-1-carousel {
  border-radius: 20px;
  box-shadow: 6px 6px 10px 4px rgba(135, 135, 135, 0.25);
}
/* /////mid-1\\\\\ */

/* project */
#project {
  margin-top: 100px;
  text-align: center;
}

.project-span {
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.8);
}

.project-card-margin {
  margin-right: 20px;
}

.card img {
  height: 250px;
  border-radius: 4px;
}
/* /////project\\\\\ */

/* footer */
footer {
  margin-top: 100px;
  margin-bottom: 30px;
}

.footer-icon-a {
  width: 48px;
  height: 48px;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-icon-1-2 {
  margin-top: 10px;
}
.footer-icon-3-4 {
  margin-top: -13px;
}
/* /////footer\\\\\ */

/* adaptive */
@media (max-width: 1010px) {
  .header-block {
    width: 90%;
    height: 1300px;
    flex-wrap: wrap;
  }
  .header-block-blocks {
    margin: auto;
  }
  .header-block--blocks {
    margin-left: 0;
    margin-bottom: 0;
  }
  .header-bio {
    margin: auto;
  }
}

@media (max-width: 770px) {
}
